{% extends "base.html" %}
{% block title %}회원 가입{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content2">
    <h1>회원 가입</h1>
    <form method="post" action="."> {% csrf_token %}
    {% if form.errors %}
        <p class="error-note">잘못되었습니다! 아래의 오류를 고쳐 주세요.</br>
            {{ form.errors }}
        </p>
    {% endif %}
    <p>당신의 이름 및 비밀번호를 입력하세요.</p>
    <fieldset class="aligned">
        <div class="form-row">
            {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-row">
            {{ form.password1.label_tag }} {{ form.password1 }}
        </div>
        <div class="form-row">
            {{ form.password2.label_tag }} {{ form.password2 }}
        </div>
    </fieldset>
    <div class="submit-row">
        <input type="submit" value="회원 가입"/>
    </div>
    <script type="text/javascript">document.getElementById("id_username").focus();</script>
    </form>
</div>
{% endblock %}
